version: 2.1
orbs:
  aws-cli: circleci/aws-cli@3.1.4
jobs:
  build-and-deploy:
    machine: true
    resource_class: anurag/sentimentrunner
    steps:
      - checkout
      - run:
          name: build docker image
          command: docker build -t sentimentdemo:latest .
      - run:
          name: stop old container
          command: docker stop sentimentdemo || true && docker rm sentimentdemo || true
      - run:
          name: run new container
          command: docker run -d --name sentimentdemo -p 8080:8080 sentimentdemo:latest
workflows:
  CICD:
    jobs:
      - test-and-eval